/*
font-family: 'Permanent Marker', cursive;
font-family: 'ZCOOL XiaoWei', serif;
*/

html {
    scroll-behavior: smooth;
    background-color: #f2f2f2;
    overflow-x: hidden;
}
i {
    max-width: :16px;
}
body {
    margin: 0;
}

.debug {
    border: 3px solid red;
}

* {
    text-decoration: none;
    color: #444;
    font-family: 'ZCOOL XiaoWei', serif;
}

a:hover {
    color: #9999ff;
    transition: 0.5s ease;
}

#scrolltracker {
    position: absolute;
    top: 0;
}
.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5;
    background-color: white;
    transition: 0.4s ease;
}

#branding {
    float: left;
    padding: 20px 50px;
    vertical-align: center;
    font-size: 20px;
}

#brandingimg {
    height: 22px;
    width: 22px;
    margin-bottom: -5px;
    border-radius: 50%;
    animation: rotateimg 5s ease;
    animation-iteration-count: infinite;
}

@keyframes rotateimg {
    50%{transform:rotate(360deg)};
}

#signup-link, #login-link {
    padding: 20px 5px;
}

.navbar-links {
    float: right;
    padding: 20px 40px;
    text-transform: capitalize;
    font-weight: 400;
    z-index: 5;
    background-color: white;
}

.navbar-links a {
    padding: 0 50px;
}

.whitespace {
    height: 50px;
    display: block;
}

@media (max-width: 1100px) {
    #branding {
        display: block;
        text-align: center;
        width: 100%;
        margin-left: -50px;
    }

    .navbar-links {
        width: 100%;
        text-align: center;
    }

    .whitespace {
        height: 100px;
    }
}

@media (max-width: 857px) {
    .navbar {
        position: relative;
    }
    
    #branding {
        display: block;
        text-align: center;
        width: 100%;
        padding: 20px 0;
    }

    .navbar-links {
        width: 100%;
    }
    
    .navbar-links a {
        display: block;
        text-align: center;
        width: 100%;
        padding: 10px 0;
        position: relative;
    }

    .landingpage-slider {
        margin-top: 180px;
    }
}

.landingpage-slider {
    height: 600px;
    transition: 0.5s ease;
    width: 100%;
    margin: auto;
    position: relative;
    background-image: url("../img/fredjourdin4.jpg");
    background-size: cover;
}

#btn-left {
    position: absolute;
    left: 0;
}

#btn-right {
    position: absolute;
    right: 0;
}

.slider-btn {
    margin-top: 280px;
    border: none;
    background-color: rgba(0,0,0,0);
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.slider-artistname {
    position: absolute;
    right: 50px;
    bottom: 30px;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

/*                      HOT ART SECTION             */
.hot-art-section, .artwork-section {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    padding: 10px;
}

.section-title {
    text-align: center;
    width: 60%;
    margin: auto;
    border-bottom: 1px solid black;
    font-size: 32px;
    font-weight: bold;
    padding: 30px;
    letter-spacing: 2px;
}

.hot-art-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    align-items: bottom;
    justify-content: bottom;
}

.hot-art-card {
    position: relative;
    box-sizing: border-box;
    margin: 20px auto 0 auto;
    height: 330px;
    text-align: center;
    width: 24%;
    min-width: 270px;
    background-color: rgba(0,0,0,0);
    transition: 0.5s ease;
}

.artworkcard {
    position: relative;
    box-sizing: border-box;
    margin: 20px auto 0 auto;
    height: 360px;
    text-align: center;
    width: 24%;
    padding-bottom: 10px;
    min-width: 270px;
    background-color: rgba(0,0,0,0);
    transition: 0.5s ease;
}

.artworkcard-link, .artworkcard-cart {
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
    display: inline-block;
}


.hot-art-card:hover {
    transform: scale(1.3);
    z-index: 5;
}

.hot-art-img-container {
    width: 100%;
    position: absolute;
    height: 220px;
    background-color: rgba(0,0,0,0);
}

.hot-art-img {
    width: 100%;
    max-height: 220px;
    min-height: 170px;
}

.hot-art-text {
    font-size: 20px;
    width: 100%;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    padding: 20px 0;
    text-align: center;
    background-color: white;
    box-sizing: border-box;
}

.hot-art-text a {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

.hot-art-artist, .hot-art-artwork, .hot-art-price {
    padding: 5px;
    color: grey;
}

.hot-art-artwork {
    color: black; 
    font-size: 22px;
}

.section-divider-line {
    width: 60%;
    border-bottom: 1px solid black;
    margin: auto;
    margin: 30px auto 10px auto;
}

/*                            artist of the month           */
.monthly-artist-container {
    width: 80%;
    margin: auto;
    display: flex;
    position: relative;
}

.artistpage-container {
    width: 28%;
    height: 400px;
    margin: 50px 2% 0 2%;
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    position: relative;
    padding: 0 30px 20px 30px;
    position: relative;
}

.monthly-artist-txt {
    flex: 2;
    text-align: right;
    padding: 50px 40px 0 0;
    color: black;
    align-items: right;
    position: relative;
    box-sizing: border-box;
}

.artistpage-txt {
    padding: 20px 0 0 40px;
    color: black;
    align-items: right;
    position: relative;
    box-sizing: border-box;
}

.artistpage-container:nth-of-type(2n) {
    background-image: linear-gradient(to bottom right,#9999ff ,#b3b3ff )
}
.artistpage-container:nth-of-type(2n-1) {
    background-image: linear-gradient(to top left,#9999ff ,#b3b3ff )

}

.monthly-artist-title {
    font-size: 28px;
}

.monthly-artist-stripe {
    border-bottom: 2px solid black;
    width: 30px;
    align-self: right;
    position: absolute;
    right: 30px;
    top: 130px;
}

.artistpage-stripe {
    border-bottom: 2px solid black;
    width: 30px;
    align-self: right;
    position: absolute;
    right: 30px;
    top: 30px;
}

.monthly-artist-name {
    margin-top: 65px;
    font-size: 22px;
    font-weight: bold;
}

.artistpage-name {
    font-size: 22px;
    font-weight: bold;
}

.monthly-artist-description {
    margin-top: 20px;
    box-sizing: border-box;
    padding-left: 80px;
}

.artistpage-description {
    margin: 10px 0;
    box-sizing: border-box;
    width: 80%;
    text-overflow: ellipsis;
}

.monthly-artist-link {
    padding: 15px 25px;
    border: 2px solid black;
    position: absolute;
    bottom: 100px;
    right: 40px;
}

.artistpage-link {
    padding: 15px 25px;
    border: 2px solid black;
    margin: 10px auto 10px auto;
    text-align: center;
    vertical-align: end;
    width: 60%;
    max-width: 150px;
    left: 20%;
    position: absolute;
    bottom: 20px;
}

.monthly-artist-link:hover, .artistpage-link:hover {
    background-color: black;
    color: white;
    transition: 0.6s ease;
}

.monthly-artist-img, .artistpage-img {
    flex: 5;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
}

.monthly-artist-img img {
    width: 100%;
    max-height: 450px;
}

.artistpage-img img {
    max-height: 200px;
    width:100%;
    min-width: 200px;
    margin-top: 10px;
}

@media (max-width: 1000px) {
    .monthly-artist-container, .artistpage-container {
        display: block;
    }

    .monthly-artist-txt, .artistpage-txt {
        text-align: center;
        width: 100%;
    }

    .monthly-artist-link, .artistpage-link {
        position: relative;
        width: 40%;
        margin: 130px 0 0 30%;
    }

    .monthly-artist-description, .artistpage-description {
        display: block;
        padding: none;
    }

    .monthly-artist-stripe, .artistpage-stripe {
        border-bottom: 2px solid black;
        width: 30%;
        margin-right: 34%;
        position: absolute;
    }
}

/*                       newsletter                    */
.newsletter-banner {
    height: 200px;
    width: 100%;
    text-align: center;
    position: relative;
    padding-top: 30px;
    box-sizing: border-box;
    background-image: url("../img/backgroundimg1.png");
    background-size: cover;
    filter: grayscale(60%);
}

.newsletter-layover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: grayscale(0%);
    color: black;
    padding-top: 30px;
}

.newsletter-title {
    font-size: 24px;
    font-weight: bold;
}

.newsletter-txt {
    padding: 10px;
}

.newsletter-form {
    margin: 20px;
}

#newsletter-email {
    padding: 5px;
}

#newsletter-submit {
    padding: 5px;
    background-color: black;
    border-radius: 4px;
    border: none;
    color: white;
}

.footer {
    width: 100%;
}

.footer-copyright {
    padding: 20px 0 20px 100px;
}

/*                               signup form         */
.signup-container {
    margin: 150px auto 0 auto;
    display: flex;
    width: 70%;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
}

.signupform-left {
    flex: 1;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    background-color: #b3b3ff;
    font-size: 24px;
}

.signup-slogan {
    margin: 20px;
    font-size: 24px;
}

#signup-logo {
    width: 70%;
    border-radius: 50%;
}

.signupform-right {
    flex: 1;
    text-align: center;
    background-color: #9999ff;
    font-size: 24px;
}

.signupform-right input, .signupform-left input {
    display: inline-block;
    margin: 20px;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    border: none;
    width: 75%;
    font-size: 20px;
    box-sizing: border-box;
    background-color: #ccccff;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
}

.signupform-right .signup-title, .signupform-left .signup-title {
    width: 80%;
    text-align: center;
    margin: 40px auto 0 auto;
    font-size: 32px;
}

.signupform-right button, .signupform-left button {
    width: 200px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;
    letter-spacing: 1px;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
}

.artistpage-filter {
    width: 70%;
    height: 50px;
    margin: 20px auto 0 auto;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid black;
}

.artistpage-filter {
    font-size: 20px;
}

#artistpage-search, .artistpage-filter-style {
    padding: 5px;
    font-size: 20px;
    margin: 10px auto 0 auto;
}

.singleartist-container {
    width: 80%;
    margin: 100px auto 0 auto;
    text-align: center;
}

.singleartist-image {
    width: 49%;
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
}

.singleartist-image img {
    width: 100%;
    min-width: 300px;
    max-height: 300px;
    display: inline-block;
}

.singleartist-txt {
    width: 40%;
    height: 100%;
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: center;
    text-align: left;
    padding: 0 30px;
    font-size: 20px;
}

.singleartist-property {
    font-weight: bold;
}

.single-artist-art {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 80px;
    text-align: center;
    margin-top: 20px;
}

.single-artist-art-card {
    width: 33%;
    width: 200px;
    display: inline-block;
    vertical-align: top;
    margin: 20px;
}

.single-artist-text {
    margin-top: 30px;
}

.single-artist-moreart {
    width: 100%; 
    text-align: center; 
    font-size: 24px;
    margin-top: 20px;
}

.single-artist-art-card img {
    width: 100%;
}

.singleartist-flex {
    height: 300px;
    width: 100%;
}

.singleartwork-container {
    margin: 100px auto 0 auto;
    height: 500px;
    width: 90%;
    display: flex;
}

.singleartwork-right, .singleartwork-left {
    flex: 1;
    display: inline-block;
    height: 100%;
    margin: auto;
}
.singleartwork-left img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    min-width: 400px;
    min-height: 400px;
}

.singleartwork-right{
    box-sizing: border-box;
    padding: 20px;
    position: relative;
}

.singleartwork-txtbox {
    position:absolute;
    top: 20;
}
.singleartwork-property,  {
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    display: block;
    font-weight: bold;
}

.artwork-property {
    padding: 10px 0;
    font-size: 20px;
    display: block;
    font-weight: bold;
}

.singleartwork-dbproperty {
    padding: 5px;
    margin-left: 5px;
    display: block;  
}

.tocart-btn {
    padding: 15px;
    margin: 15px;
    display: block;
    font-size: 20px;
    background-color: rgba(0,0,0,0);
    border: 1px solid black;
}

.art-title, .single-artist-price {
    padding: 5px 0;
    box-sizing: border-box;
}

.cart-container {
    width: 60%;
    margin: 20px 0 10px 100px;
    border-bottom: 1px solid black;
    padding: 0 0 10px 10px;
}

.cart-left img {
    width: 200px;
    height: 200px;

}
.cart-right, .cart-left {
    display: inline-block;
    width: 48%;
    padding: 10px;
    box-sizing: border-box;
}

.cart-checkoutbox {
    position: fixed;
    top: 100px;
    right: 0;
    text-align: right;
    border: 2px solid black;
    border-radius: 20px 0 0 20px;
    padding: 20px;
    border-right: none;
    z-index: 2;
    background-color: #f2f2f2;
}

.cart-checkoutbox a {
    padding: 5px;
    margin-top: 5px;
    display: inline-block;
    border: 1px solid black;
    text-align: right;
}

.checkoutbox-property {
    padding: 5px;
    font-size: 24px;
    text-align: left;
}

#signup-completed {
    display: none;
}

.cart-not-loggedin {
    margin: 200px auto 0 auto;
    text-align: center;
    font-size: 90px;
}

.cart-text {
    margin: 100px 0 10px 100px;
    width: 60%;
    border-bottom: 1px solid black;
    padding: 30px;
    text-align: center;
    font-size: 24px;
}